body {
	background-color: black;
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	border-top: 5px solid black;
}


#whitecontainer {
	width: inherit;
	margin: 0 auto;
	padding 0;
	background-color: white;
}


#greencontainer {
	width: inherit;
	margin: 0 auto;
	padding 0;
	background-color: DarkOliveGreen; 
}


#title {
	width: 960px;
	background-color: DarkOliveGreen;
	color: white;
	margin: 0 auto;
	padding: 20px;
	font-size: 30px;
}


h1 {
	margin: 0px;
	padding: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	text-decoration: none;
	letter-spacing: -1px;
}


#column{
	width: 960px;
	margin: 0 auto;
	padding: 20px;
	background-color: white
}


h2 {
	color: DarkOliveGreen;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	text-decoration: none;
	font-size: 30px;
}


.block {
	padding: 30px;
}


p {
	padding: 5px 20px;
}


a:link {
text-decoration: none;
}

a:visited {
text-decoration: none;
}

.container{
	width:100%;
    height:auto;
    padding:1%;
}

.bookIcon {
	float:left; 
    height:auto;
    width:80px; 
} 